// src/assets/scss/custom/apps/_apps-email-templates.scss

.news-gradient {
    background: linear-gradient(to top, var(--#{$prefix}orange-bg-subtle), rgba(var(--#{$prefix}warning-rgb), 0));
}
.welcome-gradient {
    background: linear-gradient(180deg, #ffffff2d 95%, $white);
}
.welcome-gradient-dark {
    background: linear-gradient(180deg, #ffffff00 32%, $black);
}