// src/assets/scss/custom/dashboard/_dashboard-agent.scss

.agent-map {
    height: 330px;
}
.top-sales-agent {
    @include transition;
    border: 1px solid transparent;

    &:hover {
        box-shadow: var(--#{$prefix}box-shadow);
        border-color: var(--#{$prefix}border-color);
    }
}
.progress-dot {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--#{$prefix}danger);
    box-shadow: 0 0 12px rgba(233, 30, 47, 0.5);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 10;
}
