// src/assets/scss/custom/structure/_sidebar-small.scss

[data-sidebar="small"] {
    .main-sidebar {
        width: var(--#{$prefix}sidebar-sm);

        .navbar-brand {
            width: var(--#{$prefix}sidebar-sm);
        }
    }

    .profile-dropdown {
        :is(.content, .arrow) {
            display: none;
        }
    }

    .navbar-menu {
        .nav-menu-title {
            display: none;
        }

        .nav-item {
            :is(.content, .menu-arrow) {
                display: none;
            }

            .nav-link {
                //width: calc(var(--#{$prefix}sidebar-sm) - 24px);
                margin-inline: auto;
                padding-block: 0.75rem;
                justify-content: center;
                width: 42px;
                height: 42px;

                .icons {
                    svg {
                        height: 1.25rem;
                        width: 1.25rem;
                    }
                }

                &.active {
                    background-color: var(--bg-secondary);
                }
            }

            .collapse {
                &::before {
                   display: none;
                }
            }

            .nav-menu-sub {
                position: fixed;
                left: 85px;
                background-color: var(--sourface-bg);
                box-shadow: $shadow-sm;
                margin-left: 0;
                width: 10rem;
                padding: 0.5rem 0;
                border-radius: 8px;

                &::before {
                    content: ""; 
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    width: 1px;
                    transform: translateY(-50%);
                    height: calc(100% - 50px);
                    background-color: var(--text-main);
                    opacity: 0.3;
                }

                .menu-arrow {
                    display: inline-block !important;
                }

                .nav-link {
                    margin: 0;
                    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
                    width: 100%;
                    height: auto;
                    &::before {
                        left: 18px;
                    }

                    &.active {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    //page wrapper
    @include media-breakpoint-up(md) {
        .page-wrapper {
            margin-left: var(--#{$prefix}sidebar-sm);
        }
    }

    @include media-breakpoint-up(lg) {
        .main-footer {
            left: var(--#{$prefix}sidebar-sm);
        }
    }
}
