// src/assets/scss/_my-variables-custom.scss

:root {
    --brand-color: #3E54D3;
    --secondary-color: #64748B;
    --sourface-bg: #FFFFFF;
    --text-main: #475569;
    --text-strong: #262626;
    --bg-main: #F1F5F9;
    --border-main: #D1D1D1;
    --green-main: #10B981;
    --red-main: #E11D48;
    --orange--300: #F59E0B;
    --orange--400: #D97706;
}

$icons-xs: 12px;
$icons-default: 20px;
$icons-md: 24px;

$border-radius-cards: 16px;
$border-radius-pills: 999px;

$shadow-xs: 0px 1px 2px 0px rgba(100, 116, 139, 10);
$shadow-sm: 0px 4px 12px -2px rgba(100, 116, 139, 0.15);
$shadow-md: 0px 12px 24px -4px rgba(100, 116, 139, 0.2);

$input-shadow: 0 0 2px 1px rgba(62, 84, 211, 0.2);


